body {
  background-image: url(img/flor.jpg);
  background-repeat: repeat;
  background-size: 100%;

}

h1 {
  color: white;
  font-family: Helvetica;
  text-align: center;
  font-size: 35px;
  padding: 5px;
  background-color: rgb(20, 21, 22);
  border: 1px solid #333;
  background-size: 200px 200px;
  background-repeat: no-repeat;
}

h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 25px;
  background-color: rgb(20, 21, 22);
  border: 1px solid #333;
  max-width: 750px;
}

h3 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  background-color: rgb(20, 21, 22);
  border: 1px solid #333;
  max-width: 490px;
  font-size: 35px;
}

.thumb {
  width: 200px;
  height: 200px;
  border: 3px solid rgb(3, 3, 3);
  background-size: 100px;
}

.img {
  display: inline-block;
}

.txt {
  color: white;
  font-family: arial;
  max-width: 200px;
  font-size: 15px;
  padding: 0;
  margin: 15%;
  background-color: rgb(20, 21, 22);
  border: 1px solid #333;
}

h6 {
  color: white;
  font-family: Arial;
  max-width: 150px;
  font-size: 15px;
  background-color: rgb(20, 21, 22);
  float: left;
  border: 1px solid #333;
}

.botao {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 200;
  border: none;
  padding: 10px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

.bto {
  background: rgb(9, 228, 162);
  color: rgb(0, 0, 0);
  box-shadow: 3px 3px 3px rgb(5, 224, 122)0, 86, 86;
}

.bto:hover {
  background: rgb(5, 224, 122);
  color: rgb(0, 0, 0);
  box-shadow: 3px 3px 3px rgb(5, 224, 122);
}

.bto:active {
  position: relative;
  top: 5px;
  box-shadow: none;
}


